# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AppointmentBooking-0.1\week8lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
